{% load static %}
<div class="footer"> {# navbar navbar-expand-lg navbar-dark bg-dark  #}
            <p>© Copyright 2021 All rights reserved.</p>
            <div class="social">
                <ul>
                  <li><img src="{% static "img/icons/twitter.svg" %}" alt="twitter" width="33" height="33" style="background-color: #343a40;"></li>
                  <li><img src="{% static "img/icons/facebook.svg" %}" alt="twitter" width="33" height="33" style="background-color: #343a40;"></li>
                  <li><img src="{% static "img/icons/google.svg" %}" alt="twitter" width="33" height="33" style="background-color: #343a40;"></li>
                  <li><img src="{% static "img/icons/linkedin.svg" %}" alt="twitter" width="33" height="33" style="background-color: #343a40;"></li>
                </ul>
            </div>
</div>