
{% load static %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
        <li class="menu-item">
            <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
        </li>
        <li class="menu-item">
            <a class="nav-link" href="http://127.0.0.1:8000/publishers/">Издательства</a>
        </li>
        <li class="menu-item">
            <a class="nav-link" href="http://127.0.0.1:8000/author/create/">Создать автора</a>
        </li>
        <li class="menu-item">
            <a class="nav-link" href="http://127.0.0.1:8000/authors/">Список авторов</a>
        </li>
        <li class="menu-item">
            <a class="nav-link" href="http://127.0.0.1:8000/author/create_many/">Создать несколько авторов</a>
        </li>
        <li class="menu-item">
            <a class="nav-link" href="http://127.0.0.1:8000/author_book/create_many/">Создать несколько авторов и их книг</a>
        </li>
        <li class="menu-item">
            <a class="nav-link" href="http://127.0.0.1:8000/friends/">Список друзей и взятых ими книг</a>
        </li>
        <li class="menu-item">
            <a class="nav-link" href="http://127.0.0.1:8000/friends/create/">Добавить друга</a>
        </li>
    </ul>
</nav>