{% extends 'base.html' %}
{% block title %}Links{% endblock %}
{% block content %}  
<div class = "links-menu">
    <h3>Роуты проекта</h3>

    <ul class="navbar-nav">
    <li class="menu__item">
    <a class="nav-link" href="index/">Index</a>
    </li>
    <li class="menu__item">
    <a class="nav-link" href="publishers/">Издательства</a>
    </li>
    <li class="menu__item">
    <a class="nav-link" href="author/create/">Создать автора</a>
    </li>
    <li class="menu__item">
    <a class="nav-link" href="authors/">Список авторов</a>
    </li>
    <li class="menu__item">
    <a class="nav-link" href="author/create_many/">Создать несколько аворов</a>
    </li>
    <li class="menu__item">
    <a class="nav-link" href="author_book/create_many/">Создать несколько авторов и их книг</a>
    </li>
    <li class="menu__item">
    <a class="nav-link" href="friends/">Список друзей и взятых ими книг</a>
    </li>
    <li class="menu__item">
    <a class="nav-link" href="friends/create">Добавить друга</a>
    </li>
    </ul>
</div>
{% endblock %}

